.xY.a4W
{
  filter: blur(12px) grayscale(1);
  transition-delay: 0s;
}

.xY.a4W:hover
{
  filter: blur(0) grayscale(0);
  transition-delay: 0.3s;
}

.nH.V8djrc.byY{
  filter: blur(12px) grayscale(1);
  transition-delay: 0s;
}

.nH.V8djrc.byY:hover
{
  filter: blur(0) grayscale(0);
  transition-delay: 0.3s;
}