.yX.xY
{
  filter: blur(12px) grayscale(1);
  transition-delay: 0s;
}

.yX.xY:hover
{
  filter: blur(0) grayscale(0);
  transition-delay: 0.3s;
}

.gE.iv.gt{
  filter: blur(12px) grayscale(1);
  transition-delay: 0s;
}

.gE.iv.gt:hover
{
  filter: blur(0) grayscale(0);
  transition-delay: 0.3s;
}